@media only screen and (min-width: 40em) {

    #cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .adv-search-opt{
        display: flex;
        flex-wrap: wrap;
    }
    input{
        font-size: 1rem;
      }

}
