body {
  font-family: "Oswald", sans-serif;
  min-width: 345px;
}
header,
footer {
  background-color: darkblue;
  color: white;
  padding: 1rem;
  display: grid;
}

header {
  position: relative;
}
main {
  padding: 0.5rem;
  background-color: lightgrey;
}
h1 {
  color: white;
}

input,
option,
button,
select {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

button {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: darkgray;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

fieldset {
  width: max-content;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.title {
  display: flex;
}
.logo {
  width: 100px;
}
.liked-btn {
  background-color: white;
  color: darkblue;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 0.5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.liked-btn:hover {
  background-color: lightgray;
}

#card-count {
  width: 4em;
}

.search-bar {
  background-color: lightgrey;
  color: black;
  padding: 1rem;
  border-radius: 20px;
  transition-duration: 3s;
  transition: opacity 1s ease-out;
}

.adv-search-bar,
.adv-search-opt {
  display: flex;
  flex-wrap: wrap;
}
.adv-search-bar{
  margin-top: 1rem;
}

.sb-count label, .sb-sort label{
  margin-left: 1rem;
}

.article-img {
  width: 200px;
}

.card {
  position: relative;
  display: grid;
  justify-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
  background-color: white;
}
.card img {
  transition: 0.3s;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.card img:hover {
  transform: scale(1.2);
}
.card img:active:hover {
  transform: rotate3d(0, 1, 0.5, 3.142rad);
}

#cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.hide {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: darkgray;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #777;
  position: relative;
  z-index: 1000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.option-input:hover {
  background: #666;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.option-input:checked {
  background: darkblue;
}
.option-input:checked::before {
  width: 20px;
  height: 20px;
  display: flex;
  content: "";
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: darkblue;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.checkbox {
  border-radius: 10%;
  top: 12px;
}
.option-input.radio {
  border-radius: 50%;
  top: -5px;
}
.option-input.radio::after {
  border-radius: 50%;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.close {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 5px;
}

.heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 5px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.likebtn {
  display: none;
}

.likebtn:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.likebtn:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

.likebtn:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.likebtn:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.likebtn:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.likebtn:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.likebtn:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.likebtn:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.likebtn:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.likebtn:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.likebtn:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
