header h1 {
    background-color: darkblue;
    color: white;
    padding: 1rem;
}

input, label, option, button {
    padding: .5rem;
    margin: .5rem;
}

.article-img {
width: 200px;
}

.card {
    display: grid;
    justify-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    border: 1px solid gray;

}

#cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.search-bar {
    padding: 1rem;
}