<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Space News - Liked Articles</title>
    <meta
      name="description"
      content="Search space news articles and sort - Liked Articles"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/med.css" />
    <link rel="stylesheet" href="../css/large.css" />
    <script type="module" src="../js/likes.js"></script>
  </head>

  <body>
    <div class="page">
      <header>
        <div class="title">
          <a href="../index.html"
            ><img class="logo" src="../images/logo.png" alt="Space News Logo"
          /></a>
          <h1>Space News</h1>
        </div>
        <a href="../index.html"
          ><div class="liked-btn">
            <span>Home</span>
          </div></a
        >
        <div class="search-bar hide">
          <div class="sb-Search">
            <label for="articleSearch">Search for an Article</label>
            <input type="text" id="articleSearch" value="" />
            <button id="search">Search</button>
            <input
              class="option-input checkbox"
              type="checkbox"
              id="advancedSearch"
              name="advancedSearch"
              value="advancedSearch"
            />
            <label for="advancedSearch">Advanced Search</label><br />
          </div>
          <div class="adv-search-bar hide">
            <div class="sb-search-field">
              <form name="searchFieldForm">
                <fieldset>
                  <legend>Search Field</legend>
                  <div class="adv-search-opt">
                    <input
                      class="option-input radio"
                      type="radio"
                      id="title"
                      name="searchField"
                      value="title"
                      checked
                    />
                    <label for="title">Title</label>
                    <input
                      class="option-input radio"
                      type="radio"
                      id="source"
                      name="searchField"
                      value="source"
                    />
                    <label for="source">Source</label>
                    <input
                      class="option-input radio"
                      type="radio"
                      id="summary"
                      name="searchField"
                      value="summary"
                    />
                    <label for="summary">Summary</label>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="sb-sort">
              <label for="articleSort">Sort</label><br />
              <select id="articleSort">
                <option value="date">Date</option>
                <option value="title" selected>Title</option>
                <option value="source">Source</option>
                <option value="summary">Summary</option>
              </select>
            </div>
            <div class="sb-count">
              <label for="card-count">Max Article Count</label><br />
              <input
                id="card-count"
                type="number"
                value="20"
                min="5"
                max="100"
              />
            </div>
          </div>
        </div>
      </header>
      <main>
        <div id="cards"></div>
      </main>
      <footer><span>WDD330 Final Project - Robert Odell</span></footer>
    </div>
  </body>
</html>
